<!DOCTYPE html>
<html lang="en, pt-PT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Nicole Almeida, Diogo Pacheco">
    <meta name="description" content="Website de base de dados dos livros do Expolab">
    <meta name="keywords" content="biblioteca, livros, library, books, centro, expolab">
    
    <link rel="icon" 
    href="http://localhost:8000/app/img/icones/logo.png" type="image/x-icon">

    <title>ExpoLibrary</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
<div  class="cabecalho">
    <img src= "{{ url_for('static', filename='img/logotipo.png') }}" alt="Logotipo do site" class="logo">
    <br>
</div>
<div class="container">
        <h1 class="text-center"><span class="bold">ExpoLibrary</span></h1>
    <br>
    <form method="post" class="form-inline justify-content-center mb-4">
        <center>
        <input type="text" name="Titulo" class="form-control mr-2" placeholder="Titulo">
        <input type="text" name="Autor" class="form-control mr-2" placeholder="Autor">
        <select name="Categoria" class="form-control mr-2" placeholder="Categoria">
            <option value="">Selecionar categoria</option>
            <option value="Biologia">Biologia</option>
            <option value="Caderno escolar">Caderno escolar</option>
            <option value="Ciências">Ciências</option>
            <option value="Ciências e tecnologia">Ciências e tecnologia</option>
            <option value="Cidadania">Cidadania</option>
            <option value="Cultura">Cultura</option>
            <option value="DVD">DVD</option>
            <option value="Ecologia">Ecologia</option>
            <option value="Enciclopédia">Enciclopédia</option>
            <option value="Entrevista">Entrevista</option>
            <option value="Escolar">Escolar</option>
            <option value="Estudo do meio">Estudo do meio</option>
            <option value="Fisica">Física</option>
            <option value="Fisica/Química">Física/Química</option>
            <option value="Fotografia">Fotografia</option>
            <option value="Geografia">Geografia</option>
            <option value="Geologia">Geologia</option>
            <option value="História">História</option>
            <option value="Infantil">Infantil</option>
            <option value="Lingua Portuguesa">Língua Portuguesa</option>
            <option value="Matemática">Matemática</option>
            <option value="Panfleto">Panfleto</option>
            <option value="Química">Química</option>
            <option value="Receitas">Receitas</option>
            <option value="Reciclagem">Reciclagem</option>
            <option value="Revista">Revista</option>
            <option value="Segurança">Segurança</option>
            <option value="Tecnologia">Tecnologia</option>
            <option value="Turismo">Turismo</option>
            <option value="NaN">Sem Dados</option>
        </select>

        <select name="Sub_Categoria" class="form-control mr-2" placeholder="Sub-categoria">
            <option value="">Selecionar Sub-Categoria</option>
            <option value="Album de fotos">Álbum  de fotos</option>
            <option value="Anatomia">Anatomia</option>
            <option value="Antropologia">Antropologia</option>
            <option value="Arqueologia">Arqueologia</option>
            <option value="Apicultura">Apicultura</option>
            <option value="Banda desenhada">Banda desenhada</option>
            <option value="Biologia marinha">Biologia marinha</option>
            <option value="Biologia marinha dos Açores">Biologia marinha dos Açores</option>
            <option value="Biotecnologia">Biotecnologia</option>
            <option value="Biosfera">Biosfera</option>
            <option value="Botânica">Botânica</option>
            <option value="Ciência Geral">Ciência geral</option>
            <option value="Ciências da Natureza">Ciências da Natureza</option>
            <option value="Dicionário">Dicionário</option>
            <option value="DVD">DVD</option>
            <option value="Ecologia">Ecologia</option>
            <option value="Enciclopédia">Enciclopédia</option>
            <option value="Energia">Energia</option>
            <option value="Engenharia">Engenharia</option>
            <option value="Entomologia">Entomologia</option>
            <option value="Evolucionismo">Evolucionismo</option>
            <option value="Geneologia">Geneologia</option>
            <option value="Geobiológica">Geobiológica</option>
            <option value="Geociência">Geociência</option>
            <option value="Geofísica">Geofísica</option>
            <option value="Geomorfologia">Geomorfologia</option>
            <option value="Geotérmica">Geotérmica</option>
            <option value="História">História</option>
            <option value="Hist. Cultural de Portugal">História cultural de Portugal</option>
            <option value="Hist. Cultural dos Açores">História cultural dos Açores</option>
            <option value="Livro para colorir">Livros para Colorir</option>
            <option value="Malacologia">Malacologia</option>
            <option value="Manual escolar">Manual escolar</option>
            <option value="Metodologia">Metodologia</option>
            <option value="Meteorologia">Meteorologia</option>
            <option value="Microbiologia">Microbiologia</option>
            <option value="Museu">Museu</option>
            <option value="Natureza">Natureza</option>
            <option value="Paleontologia">Paleontologia</option>
            <option value="Panfleto">Panfleto</option>
            <option value="Pesca">Pesca</option>
            <option value="Revista">Revista</option>
            <option value="Roteiro">Roteiro</option>
            <option value="Taxonomia">Taxonomia</option>
            <option value="Turismo rural">Turismo rural</option>
            <option value="Vulcanologia">Vulcanologia</option>
            <option value="Zoologia">Zoologia</option>
        </select>

        <select name="Linguagem" class="form-control mr-2" placeholder="Língua">
            <option value="">Selecionar Linguagem</option>
            <option value="Multi idiomas">Multi Linguagens</option>
            <option value="Alemão">Alemão</option>
            <option value="Espanhol">Espanhol</option>
            <option value="Espanhol e Alemão">Espanhol e Alemão</option>
            <option value="Espanhol e Inglês">Espanhol e Inglês</option>
            <option value="Finlandês e Inglês">Finlandês e Inglês</option>
            <option value="Inglês">Inglês</option>
            <option value="Português">Português</option>
            <option value="Português e Espanhol">Português e Espanhol</option>
            <option value="Português e Francês">Português e Francês</option>
            <option value="Português e Inglês">Português e Inglês</option>
            <option value="Português, Inglês e Espanhol">Português, Inglês e Espanhol</option>
            <option value="Português, Inglês e Francês">Português, Inglês e Francês</option>
            <option value="NaN">Sem Dados</option>
        </select>
        <input type="text" name="Ano" class="form-control mr-2" placeholder="Ano">
        <br>
        <button type="submit" class="btn btn-primary">Filtrar</button>
       
    </form>
    <br><br><br>
    <h5 class="lista">LISTAGEM DE LIVROS:</h5>
    <br>
    <br><br>
    <div class="row">
        {% for item in items %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ item.Imagem }}" class="card-img-top" alt="{{ item.Titulo }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.Titulo }}</h5>
                        <p class="card-text"><strong>Autor: </strong> {% if item.Autor|length > 20 %}
                            {{ item.Autor[:17] + '...' }}
                        {% else %}
                            {{ item.Autor }}
                        {% endif %}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="rodape">
    <a href="#">
    <img src="http://localhost:8000/app/img/hometopo.png" class="logotopo">
    </a>
    <h6>Desenvolvido pelo Expolab</h6>
    <br>
    <img src="http://localhost:8000/app/img/rodape/rodape2.png" class="logor">
    <br><br><br>
    <font size=2>
    <p>© Expolab 2024</p>
    </font>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

