<!DOCTYPE html>
<html lang="en, pt-PT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Nicole Almeida, Diogo Pacheco">
    <meta name="description" content="Website de base de dados dos livros do Expolab">
    <meta name="keywords" content="biblioteca, livros, library, books, centro, expolab">
    
    <link rel="icon" 
    href="http://localhost:8000/app/img/icones/logo.png" type="image/x-icon">

    <title>ExpoLibrary</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
<div  class="cabecalho">
    <img src= "http://localhost:8000/app/img/logotipo.png" alt="Logotipo do site" class="logo">
    <br>
</div>
<div class="container">
        <h1 class="text-center"><span class="bold">ExpoLibrary</span></h1>
    <br>
    <form method="post" class="form-inline justify-content-center mb-4">
        <center>
        <input type="text" name="Titulo" class="form-control mr-2" placeholder="Titulo">
        <input type="text" name="Autor" class="form-control mr-2" placeholder="Autor">
        <select name="Categoria" class="form-control mr-2" placeholder="Categoria">
            <option value="">Selecionar categoria</option>
            <option value="Biologia">Biologia</option>
            <option value="Caderno escolar">Caderno escolar</option>
            <option value="Ciências">Ciências</option>
            <option value="Ciências e tecnologia">Ciências e tecnologia</option>
            <option value="Cidadania">Cidadania</option>
            <option value="Cultura">Cultura</option>
            <option value="DVD">DVD</option>
            <option value="Ecologia">Ecologia</option>
            <option value="Enciclopédia">Enciclopédia</option>
            <option value="Entrevista">Entrevista</option>
            <option value="Escolar">Escolar</option>
            <option value="Estudo do meio">Estudo do meio</option>
            <option value="Fisica">Física</option>
            <option value="Fisica/Química">Física/Química</option>
            <option value="Fotografia">Fotografia</option>
            <option value="Geografia">Geografia</option>
            <option value="Geologia">Geologia</option>
            <option value="História">História</option>
            <option value="Infantil">Infantil</option>
            <option value="Lingua Portuguesa">Língua Portuguesa</option>
            <option value="Matemática">Matemática</option>
            <option value="Panfleto">Panfleto</option>
            <option value="Química">Química</option>
            <option value="Receitas">Receitas</option>
            <option value="Reciclagem">Reciclagem</option>
            <option value="Revista">Revista</option>
            <option value="Segurança">Segurança</option>
            <option value="Tecnologia">Tecnologia</option>
            <option value="Turismo">Turismo</option>
            <option value="NaN">Sem Dados</option>
        </select>

        <input type="text" name="Sub_Categoria" class="form-control mr-2" placeholder="Sub-categoria">

        <select name="Linguagem" class="form-control mr-2" placeholder="Língua">
            <option value="">Selecionar Linguagem</option>
            <option value="Multi idiomas">Multi Linguagens</option>
            <option value="Alemão">Alemão</option>
            <option value="Espanhol">Espanhol</option>
            <option value="Espanhol e Alemão">Espanhol e Alemão</option>
            <option value="Espanhol e Inglês">Espanhol e Inglês</option>
            <option value="Finlandês e Inglês">Finlandês e Inglês</option>
            <option value="Inglês">Inglês</option>
            <option value="Português">Português</option>
            <option value="Português e Espanhol">Português e Espanhol</option>
            <option value="Português e Francês">Português e Francês</option>
            <option value="Português e Inglês">Português e Inglês</option>
            <option value="Português, Inglês e Espanhol">Português, Inglês e Espanhol</option>
            <option value="Português, Inglês e Francês">Português, Inglês e Francês</option>
            <option value="NaN">Sem Dados</option>
        </select>

        <select name="Material" class="form-control mr-2" placeholder="Material">
            <option value="">Selecionar Material</option>
            <option value="Não plastificado">Não Plastificado</option>
            <option value="Plastificado">Plastificado</option>
        </select>
        <input type="text" name="Ano" class="form-control mr-2" placeholder="Ano">
        <br>
        <button type="submit" class="btn btn-primary">Filtrar</button>
       
    </form>
    <br><br><br>
    <h5 class="lista">LISTAGEM DE LIVROS:</h5>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Ano</th>
            <th>Categoria</th>
            <th>Sub-categoria</th>
            <th>Língua</th>
            <th>Material</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.Titulo }}</td>
                <td>{{ item.Autor }}</td>
                <td>{{ item.Ano }}</td>
                <td>{{ item.Categoria }}</td>
                <td>{{ item.Sub_Categoria }}</td>
                <td>{{ item.Linguagem }}</td>
                <td>{{ item.Material }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </center>
    </table>
    <br><br>
</div>
<div class="rodape">
    <a href="#">
    <img src="http://localhost:8000/app/img/hometopo.png" class="logotopo">
    </a>
    <h6>Desenvolvido pelo Expolab</h6>
    <br>
    <img src="http://localhost:8000/app/img/rodape/rodape2.png" class="logor">
    <br><br><br>
    <font size=2>
    <p>© Expolab 2024</p>
    </font>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

